// colors
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$brand-color: #d0c5b6;
$text-color: #808080;
$show-bg: #f8f8f8;
$footer-color: #d0c5b6;
$footer-bg: #333333;
$copyright-bg: #303030;